.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
  }
  
  .show-menu .hamburguer {
    right: 16rem;
  }
  
  .hamburguer span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a044ff;
    color: #ffffff;
    font-family: var(--font-action);
    opacity: 0;
  }

  .hamburguer span::before {
    content: "";
    position: absolute;
    border-right: 0.5rem solid #a044ff;
    border-top: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    left: -1rem;
  }
  
  .show-menu .hamburguer:hover span {
    opacity: 1;
  }
  .line {
    width: 100%;
    height: 0.1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
  }
  
  .show-menu #line1 {
    transform: rotate(45deg) translate(0.3rem, 0.45rem);
  }
  .show-menu #line2 {
    opacity: 0;
    visibility: hidden;
  }
  .show-menu #line3 {
    transform: rotate(-45deg) translate(0.3rem, -0.45rem);
  }
  
  .sidebar {
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 80;
  }
  
  .show-menu .sidebar {
    right: 0;
  }
  .menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .menu-item {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .menu-link {
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;
  }
  
  .menu-link:hover {
    color: #6a3093;
  }
  
  .social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .social-media i {
    background-color: #6a3093;
    color: rgba(255, 255, 255, 1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
  }
  
  .social-media i:hover {
    background-color: #a044ff;
  }
  
  .btn {
    background: #6a3093;
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
    background: linear-gradient(to left, #a044ff, #6a3093);
    font-family: var(--font-action);
    color: #eee;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
  }
