.passoapasso {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }

  .card {
    width: 18rem;
    height: 25rem;
    position: relative;
  }
  
  .card-img-wrapper {
    width: 100%;
    height: 100%;
    margin-left: 1.5rem;
    background-color: #262626;
    border-radius: 0.5rem;
  }
  
  .card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 0.8;
    transition: opacity 0.3s;
  }
  
  .card:hover .card-img-wrapper img {
    opacity: 0.5;
  }
  
  .card-info {
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
  }
  
  .card-info h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
  }
  
  .card-info h3 {
    font-family: var(--font-action);
    font-weight: bolder;
    color: #ff4081;
    margin-bottom: 1.5rem;
  }
  
  .card-info p {
    font-family: var(--font-secundary);
    color: #eee;
    font-weight: 400;
    width: 80%;
    margin-bottom: 2rem;
  }

  .card-info button {
    width: 8rem;
    height: 2.5rem;
  }
  
  .card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
  }

 @media screen and (max-width:768px) {
  .card-img-wrapper{
    width: 85%;
  }
   
 }
 @media screen and (max-width:425px) {
 
  .card-info p {
    margin-bottom: 0;
  }
  .card-info h2{
    font-size: 1.2rem;
  }
  .card:hover .card-info{
    bottom: 0;
    
  }
  .card-info button{
    width: 6rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

 }
 @media screen and (max-width:375px){
  .card-info h2{
    font-size: 1rem;
  }
}
@media screen and (max-width:322px){
  .card-info button{
    width: 4.5rem;
  }
  .card:hover .card-info{
    top: 2%;
  }
  .card-info h2{
    font-size: 0.9rem;
  }
}
